gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/
/gradle/android/
/gradle/caches/
/gradle/daemon/
/gradle/native/
/gradle/kotlin-profile/
/gradle/gradle-daemon-jvm.properties

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
